<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Bewertungen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Top Bewertungen</h1>
    </header>
    <ul>
        {% for company in companies %}
            <li>
                <h2>{{ company.name }}</h2>
                <p>{{ company.description }}</p>
                <a href="{{ company.website }}">{{ company.website }}</a>
                <p>Rating: {{ company.rating }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
